<div class="main-container">
    <div class="main-video-container">
        <!-- <div class="video-box-container"  > -->
        <video #videoElement autoplay class="video-box" ></video>
            <!-- <div class="user-profile"  ></div> -->
        <!-- </div> -->

        <div class="video-controls">
            <div class="icons">
                <!-- <mat-icon *ngIf="isUnMuted()" >mic</mat-icon>
                <mat-icon *ngIf="isMuted()" >mic_off</mat-icon>
                <mat-icon *ngIf="isVideoOn()" >videocam</mat-icon>
                <mat-icon *ngIf="isVideoOff()" >videocam_off</mat-icon>
                <mat-icon *ngIf="isChatOff()" >chat</mat-icon>
                <mat-icon *ngIf="isChatOn()" >arrow_back</mat-icon> -->

                <button mat-icon-button  >
                    <mat-icon>mic</mat-icon>
                </button>
                <mat-icon>videocam</mat-icon>
                <mat-icon>chat</mat-icon>
                <mat-icon>arrow_back</mat-icon>
            </div>
        </div>
    </div>
</div>


<!-- <div class="loaders">
    <app-loader *ngIf="showloader"></app-loader>
</div> -->