<div class="main-container">
    <div class="main-video-container">
        <div class="video-box"  >
            <div class="user-profile"  ></div>
        </div>

        <div class="video-controls">
            <mat-icon *ngIf="isUnMuted()" >mic</mat-icon>
            <mat-icon *ngIf="isMuted()" >mic_off</mat-icon>
            <mat-icon *ngIf="isVideoOn()" >videocam</mat-icon>
            <mat-icon *ngIf="isVideoOff()" >videocam_off</mat-icon>
            <mat-icon>camera_rear</mat-icon>
            <mat-icon *ngIf="isChatOff()" >chat</mat-icon>
            <mat-icon *ngIf="isChatOn()" >arrow_back</mat-icon>
        </div>
    </div>
</div>

<p>main-video-call works!</p>
<div>
    <video #videoElement width="400" height="300" autoplay ></video>
</div>
<p>hello</p>